*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: monospace;
}

p {
  padding: 0;
}

.score-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 20px;
  right: 20px;
  height: 100px;
  width: 200px;
  border: 1px solid silver;
  color: darkorchid;
  border-radius: 8px;
  backdrop-filter: blur(20px);
  font-size: 12px;
}

.score-card p {
  padding: 14px;
}
.score-card p:not(:last-child) {
  border-bottom: 1px solid silver;
}

.score-card span {
  font-size: 20px;
  padding-top: 15px;
  padding-right: 10px;
}

.help-controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 20px;
  left: 20px;
  min-height: 100px;
  width: 240px;
  border: 1px solid silver;
  color: darkorchid;
  border-radius: 8px;
  backdrop-filter: blur(20px);
  font-size: 12px;
}

.help-controls p {
  padding: 12px;
}

.help-controls p:not(:last-child) {
  border-bottom: 1px solid silver;
}

.help-controls span {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  padding-right: 10px;
  width: 60px;
  display: inline-block;
}

.help-controls span.arrow {
  font-size: 20px;
  padding-right: 10px;
  font-weight: normal;
}

.mobile-controls {
  position: absolute;
  display: flex;
  gap: 6px;
  flex-direction: column;
  justify-content: space-between;
  bottom: 20px;
  right: 5px;
  min-height: 50px;
  width: 100px;
  color: darkorchid;
  backdrop-filter: blur(20px);
  font-size: 12px;
}

.mobile-controls-left {
  left: 5px;
  right: auto;
}

.mobile-controls button {
  background: none;
  color: darkorchid;
  background-color: white;
  border: 1px solid silver;
  font-size: 20px;
  border-radius: 8px;
  border-radius: 8px;
  height: 100px;
}
